<style>
    p { text-indent: 25px;}
</style>
<h1>MLP</h1>
<div>
<div><h2>The MLP program is developed by students of 21School within the educational project.</h2></div>
<div><h3>The program is developed on С++ programming language using Qt creator 6.23.</h3></div>
<div><h3>The program provides the ability to form and train neural network models to classify handwritten Latin letters.</h3></div>
<div><h3>Perceptron is implemented in two ways: in matrix form and in graph form.</h3></div>
<div><h3>Both perceptrons allows to classify images with handwritten letters of the Latin alphabet.</h3></div>
<div><h3>Both perceptrons have from 2 to 5 hidden layers.</h3></div>
<div><h3>Both perceptrons use a sigmoid activation function for each hidden layer.</h3></div>
<div><h3>Both perceptrons show accuracy on a test sample over 70 percent.</h3></div>
<div><h3>Both perceptrons can learn on an open dataset (e.g. EMNIST-letters presented in the datasets directory).</h3></div>
<div><h3>Both perceptrons can be trained using the backpropagation method.</h3></div>

<div><h3>The interface of the program provides the ability to:</h3></div>
<ul>
    <li>run the experiment on the test sample or on a part of it, given by a floating point number between 0 and 1 (where 0 is the empty sample - the degenerate situation, and 1 is the whole test sample).
        After the experiment, an average accuracy, precision, recall, f-measure and total time spent on the experiment are displayed on the screen</li>
    <li>load BMP images (image size can be up to 512x512) with Latin letters and classify them</li>
    <li>draw two-color square images by hand in a separate window</li>
    <li>start the real-time training process for a user-defined number of epochs with displaying the error control values for each training epoch.
        Make a report as a graph of the error change calculated on the test sample for each training epoch</li>
    <li>run the training process using cross-validation for a given number of groups</li>
    <li>switch perceptron implementation (matrix or graph)</li>
    <li>switch the number of perceptron hidden layers (from 2 to 5)</li>
    <li>save to a file and load weights of perceptron from a file</li>
</ul>
<br />
